* {
  color: #ababab;
  font-size: 1.5em;
  font-family: Roboto Mono;
}

input {
  background-color: #090909;
}

.box {
  border-radius: 15px;
  border: 3px solid #ababab;
  margin: 20px;
  padding: 10px;
}

.box > * {
  padding: 3px;
}
