<app-pretestquestions *ngIf="appMode === 'PreTestQuestions'"></app-pretestquestions>
<app-typer *ngIf="appMode === 'Test'" (focusFunctionReady)="onFocusFunctionReady($event)"></app-typer>
<app-posttestquestions *ngIf="appMode === 'PostTestQuestions'"></app-posttestquestions>

<app-preferences
  (preferencesToggled)="onPreferencesToggled($event)"
  (aboutClicked)="preferencesAboutClicked()"
></app-preferences>
<app-about
  [class.about-show]="showAbout"
  (onAboutClosed)="closeAbout()"
></app-about>
