<app-pretestquestions
*ngIf="appMode === 'PreTestQuestions'"
(beginClicked)="onBeginClicked()"
></app-pretestquestions>

<app-typer
[familiar]="familiarTest === 'Test1'"
*ngIf="appMode === 'Test1'"
(focusFunctionReady)="onFocusFunctionReady($event)"
(testNextButtonPressed)="onTestNextPressed($event)"
></app-typer>

<app-typer
[familiar]="familiarTest === 'Test2'"
*ngIf="appMode === 'Test2'"
(focusFunctionReady)="onFocusFunctionReady($event)"
(testNextButtonPressed)="onTestNextPressed($event)"
></app-typer>

<app-posttestquestions *ngIf="appMode === 'PostTestQuestions'"></app-posttestquestions>
<app-handoffprompt *ngIf="appMode === 'HandoffPrompt'"></app-handoffprompt>
<app-datasave *ngIf="appMode === 'ResearcherFileSelect'"></app-datasave>

<app-preferences
  (preferencesToggled)="onPreferencesToggled($event)"
></app-preferences>
