<audio #familiarAudio>
  <source src="assets/audio/familiar.mp3" type="audio/mp3">
</audio>
<audio #unfamiliarAudio>
  <source src="assets/audio/unfamiliar.mp3" type="audio/mp3">
</audio>
<div
  class="type-test-container"
  [class.type-test-started]="testStarted"
  [class.type-test-reverse-scroll]="reverseScroll"
  [class.type-test-smooth-scroll]="smoothScroll && !reverseScroll"
  [class.type-test-no-animation]="
    !preferences.get(Preference.SCROLLING_ANIMATION).value
  "
  [ngClass]="textSizeClass"
>
  <div class="type-test">
    <div class="word-container-wrapper">
      <div class="word-container">
        <div class="word" *ngFor="let word of words">{{ word }}</div>
      </div>
    </div>
    <div class="word-copy"></div>
    <input type="text" class="word-input-dummy" tabindex="-1" />
    <input
      [(ngModel)]="wordInput"
      (input)="wordInputChanged($event.target.value)"
      (keydown.enter)="wordInput = wordInput + ' '; wordInputChanged(wordInput)"
      type="text"
      spellcheck="false"
      placeholder="type here"
      autofocus
      autocomplete="off"
      autocapitalize="off"
      class="word-input"
      tabindex="0"
    />
  </div>

  <div class="type-test-controls">
    <div *ngIf="testFinished"
    class="type-test-buttons">
      <button
        type="button"
        class="type-test-restart transition-button"
        tabindex="0"
        (click)="onNextClicked()"
        title="Next"
      >
      <p>Next</p>
      </button>
    </div>
  </div>

</div>
