
<div *ngIf="questionsService.pretest_questions">
  <div *ngFor="let question of questionsService.pretest_questions">
    <div class="question">
      <app-question [question]="question" (answer)="onQuestionAnswered($event)"></app-question>
    </div>
  </div>
</div>
<div *ngIf="!questionsService.pretest_questions">Loading Questions...</div>


<p>When you click Begin, you will be presented with the test screen. As soon as you
begin to type, the test will begin.</p>

<button class="transition-button" (click)="onBeginClicked()">Begin</button>
