<div class="question">
  <p> {{ question.text }} </p>

  <div *ngIf="question.type === 'free-response'">
    <textarea style="resize: none" placeholder="Type your answer here" rows="5"
      cols="50" (input)="onFreeResponseEdited()" [(ngModel)]="freeResponseText"></textarea>
  </div>

  <div *ngIf="question.type === 'multiple-choice'">
    <div *ngFor="let option of question.data.options">
      <div class="flex-row multiple-choice-option">
        <input type="radio" [name]="question.text" (input)="onMultipleChoiceEdited(option.text)">
        <div class="flex-column">
          <div class="flex-column" style="align-items: center">
            <p> {{ option.text }} </p>
            <div *ngIf="option.image_url">
              <img [src]="option.image_url" width="500">
            </div>
          </div>
          <div *ngIf="option.image_attribution" class="attribution">
            <div [innerHTML]="option.image_attribution"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="followupQuestion">
      <app-question [question]="followupQuestion" (answer)
      ="onFollowupAnswer($event)"></app-question>
    </div>
  </div>
</div>
