p {
  color: #ababab;
  font-size: 1.5em;
  font-family: Roboto Mono;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.question {
  margin: 50px;
}

textarea {
  font-size: 1.5em;
  background-color: #090909;
  color: #ababab;
  font-family: Roboto Mono;
}
